body{
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
}
.flex{
    display: flex;
}
/* section 1 */
#sec1-text{
    margin-top: 160px;
    margin-left: 100px;
}
#sec1-text h1{
    font-size: 50px;
    letter-spacing: 1.5px;
}
#sec1-img img{
    margin-left: 100px;
    margin-top: 50px;
}
/* section 1 */
.btn a{
    text-decoration: none;
    color: white;
    background: linear-gradient(blue,cyan);
    padding: 10px 20px;
    border-radius: 15px;
    box-shadow: 5px 7px 5px grey;
}
.color-text{
    color: blue;
}
/* section 2 */
#sec2{
    background: url(images/shapes/Frame\ 57.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
#sec2-img img{
    width: 50%;
    margin-top: 60px;
    margin-left: 150px;
}
#sec2-text{
    width: 80%;
    margin-top: 150px;
    margin-right: 50px;
    padding: 10px;
}
#sec2-text h1{
    font-size: 40px;
}
#sec2-text p{
    text-align: justify;
}
/* section 2 */
/* section 3 */
#sec3-text{
    text-align: center;
    margin-top: 100px;
}
#sec3-text p{
    padding-left: 300px;
    padding-right: 300px;
}
/*section 4*/
#sec4{
    width: 100%;
}
.sec4-img{
    width: 48%;
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 40px;
    text-align: justify;
    box-shadow: 10px 10px  30px grey;
    border-radius: 10px;
}
.sec4-img  div{
    padding: 15px;
}
.sec4-img img{
    width: 100%;
    border-radius: 5%;
}